.playStoreWrapper {
  padding-block: 15px;
  background-color: var(--titleColor);
}

.storeBtnHolder {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.storeBtnHolder li > * {
  max-width: 100px;
  padding: 0;
  background-color: transparent;
}

.paymentMethod {
  width: 50px;
  min-height: 30px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid #fff;
}

.paymentMethod img {
  transition: all 0.3s;
}

.paymentMethod:hover {
  background-color: transparent;
}

.paymentMethod:hover img {
  -webkit-filter: grayscale(0) invert(1);
  filter: grayscale(0) invert(1);
}

.paymentHolder {
  display: flex;
  align-items: center;
  gap: 5px;
}

.paymentHolder li img {
  max-height: 1.7rem;
}

.payment-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liveDrawWrapper {
  padding: 3rem;
  background: linear-gradient(90deg, var(--secondaryColor) 0%, var(--primaryColor) 100%);
}

.liveDrawWrapper h3 {
  color: #fff !important;
}

.bannerWrapper .bannerImgHolder {
  position: relative;
}

.bannerWrapper .bannerImgHolder::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 54.52%, #000 88.8%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.bannerWrapper .bannerImgHolder {
  line-height: 0;
}

.bannerWrapper .bannerImgHolder img {
  width: 100%;
}

.bannerButtonHolder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.howToPlayWrapper {
  border-block: 1px solid #cdd8e3;
  background-color: #fafafa;
}
.playIntro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 6rem;
}
.playIntro > * {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
}
.playIntro .iconHolder {
  width: 9.4rem;
  height: 9.4rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  background-color: var(--primaryColor);
  position: relative;
}
.playIntro .iconHolder svg {
  width: 4.4rem !important;
  height: 4.4rem !important;
}
.playIntro .iconHolder .counter {
  font-size: 2rem;
  color: var(--primaryColor);
  font-weight: 600;
  background-color: #dfeeff;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -2rem;
  top: 0;
}
.playIntro p {
  font-size: 2.5rem;
  color: #676767;
  max-width: 170px;
  display: inline-flex;
  margin-left: 1.2rem;
}
.awardWinItem {
  display: flex;
  align-items: center;
}
.awardWinIcon {
  margin-right: 1rem;
  background-color: #dfeeff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--secondaryColor);
  width: 7.6rem;
  height: 6.8rem;
  border-radius: 1rem;
}
.awardWinIcon svg {
  width: 42px;
  height: 32px;
}
.awardWinningWrapper {
  background-color: #f5f6f8;
}
.proCardHolder .MuiCardMedia-img {
  border-radius: 10px 10px 0 0;
  max-height: 217px;
  object-fit: cover;
}
.proImgHolder {
  position: relative;
}
.proImgHolder span {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 33px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.proImgHolder span b {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 25px;
  padding-inline: 1.5rem;
  text-transform: uppercase;
  background-color: var(--errorColor);
}
.proImgHolder span small {
  background-color: var(--secondaryColor);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1.5rem 0 0;
  padding-inline: 1.5rem;
  flex: 0 0 auto;
  width: auto;
  min-height: 30px;
}
.productTag {
  background-color: var(--successColor);
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.productTag h5 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
.topWinnerWrapper {
  background-color: var(--titleColor);
}
