.playStoreWrapper {
  padding-block: 15px;
  background-color: var(--titleColor);
}

.storeBtnHolder {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.storeBtnHolder li>* {
  max-width: 100px;
  padding: 0;
  background-color: transparent;
}

.paymentMethod {
  width: 50px;
  min-height: 30px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid #fff;
}

.paymentMethod img {
  transition: all 0.3s;
}

.paymentMethod:hover {
  background-color: transparent;
}

.paymentMethod:hover img {
  -webkit-filter: grayscale(0) invert(1);
  filter: grayscale(0) invert(1);
}

.paymentHolder {
  display: flex;
  align-items: center;
  gap: 5px;
}

.paymentHolder li img {
  max-height: 1.7rem;
}

.payment-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liveDrawWrapper {
  padding: 3rem;
  background: linear-gradient(90deg, var(--secondaryColor) 0%, var(--primaryColor) 100%);
}

.liveDrawWrapper h3 {
  color: #fff;
}

.bannerWrapper .bannerImgHolder {
  position: relative;
}

.bannerWrapper .bannerImgHolder::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 54.52%, #000 88.8%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.bannerWrapper .bannerImgHolder {
  line-height: 0;
}

.bannerWrapper .bannerImgHolder img {
  width: 100%;
}

.bannerButtonHolder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}