.playStoreWrapper {
    padding-block: 15px;
    background-color: var(--secondaryColor);
}

.storeBtnHolder {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;

}

.storeBtnHolder li>* {
    max-width: 100px;
    padding: 0;
    background-color: transparent;
}