@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./variable.css";
/* Common Style Start */

html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  color: var(--textColor);
  font-size: 1.4rem;
}
p {
  font-size: 1.4rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

a,
button,
input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}

a,
button,
input[type="submit"] {
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

span,
strong,
small {
  vertical-align: middle;
  display: inline-block;
}

section,
main,
address,
aside,
figure,
figcaption {
  display: block;
}

strong,
label {
  font-weight: bold;
}

label {
  vertical-align: top;
}

figure {
  margin: 0;
}

p {
  margin: 0 0 20px 0;
  color: var(--textColor);
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--roboto);
  padding: 0;
  margin: 0 0 20px 0;
  color: var(--titleColor);
}

.h1,
h1,
h1,
.MuiTypography-h1 {
  font-size: 4.55rem;
}
h2,
.h2,
h2.MuiTypography-h2 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--titleColor);
}
.h3,
h3,
h3.MuiTypography-h3 {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--titleColor);
}
.h3 .subTitle,
h3 .subTitle,
h3.MuiTypography-h3 .subTitle {
  display: block;
  color: #000;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: none;
  margin-top: 1rem;
}
.h4,
h4,
h4.MuiTypography-h4 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--primaryColor);
}
.h4 .subTitle,
h4 .subTitle,
h4.MuiTypography-h4 .subTitle {
  display: block;
  color: #6e6e6e;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: none;
  margin-top: 1rem;
}

ol,
ul {
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--inputBorderColor);
  vertical-align: middle;
  border-radius: 2px;
  background-color: var(--inputBackground);
}

select {
  border: 1px solid var(--inputBorderColor);
  width: 100%;
  padding: 0 11px;
  padding-right: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 0.9em;
  background-position: calc(100% - 0.5em) center;
  background-repeat: no-repeat;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

::placeholder {
  color: var(--textColor) !important;
  opacity: 1 !important;
}

::-webkit-input-placeholder {
  color: var(--textColor) !important;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: var(--textColor) !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: var(--textColor) !important;
  opacity: 1 !important;
}

:-moz-placeholder {
  color: var(--textColor) !important;
  opacity: 1 !important;
}

button,
input[type="button"],
input[type="submit"] {
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  outline: none;
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 0;
}

.btn:focus,
.btn.focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  font-size: 20px;
  text-transform: uppercase;
  background-color: var(--primaryColor);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  min-width: 224px;
  color: #000;
  min-height: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--secondaryColor) !important;
  color: #000 !important;
}

ul {
  list-style-type: none;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.commonGap {
  padding-block: 5rem;
}

/* Common Style End */
/* Common Style End */
