:root {
  --roboto: "Roboto", sans-serif !important;
  --primaryColor: #3b8ced;
  --secondaryColor: #0e4a84;
  --titleColor: #013465;
  --errorColor: #fe0002;
  --warnColor: #ffaa01;
  --offWhite: #f1f1f1;
  --inputBackground: #f5f5f5;
  --textColor: #5c5e5f;
  --inputBorderColor: #e8e9ea;
  --successColor: #51b27e;
}
